[Unit]
Description=Hello RPM package
Documentation=https://github.com/maximvegorov/hello-rpm-package
After=network.target

[Service]
Type=simple
User=hello-rpm-package
Group=hello-rpm-package
ExecStart=/usr/bin/hello-rpm-package
Restart=on-failure

[Install]
WantedBy=multi-user.target
