<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="LOGGER_HOME">/var/log/%%%PACKAGE%%%</Property>
    </Properties>

    <Appenders>
        <RollingFile name="ToFile"
                     fileName="${LOGGER_HOME}/app.log"
                     filePattern="${LOGGER_HOME}/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%d] %-5p [%t] [%c{1.}] %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>
        <Async name="ToFileAsync" bufferSize="4096">
            <AppenderRef ref="ToFile"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ToFileAsync"/>
        </Root>
    </Loggers>
</Configuration>
