<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="ToConsole">
            <PatternLayout pattern="[%d] %-5p [%t] [%c{1.}] %m%n"/>
        </Console>
        <Async name="ToConsoleAsync" bufferSize="4096">
            <AppenderRef ref="ToConsole"/>
        </Async>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="ToConsoleAsync"/>
        </Root>
    </Loggers>
</Configuration>
